body{
    background-color: #ffffff;
}

.container{
    padding: 0px 0px 0px 0px;
}
#username{
    background-color: rgb(40, 40, 40);
    height: 50px;
    border-radius:10px 10px 0 0;
    line-height: 50px;
    text-align:center;
    color: white;
}
#hyList{
    height: 250px;
    overflow-y: scroll;
    background: white;
}
#xtList{
    height: 150px;
    overflow-y: scroll;
    background: white;
}

#hy{
    height: 25px;
    width: auto;
}
#xt{
    height: 25px;
    width: auto;
}
.list{
    background-color: #959595;
    padding: 1px 0px 0px 0px;
}

#content{
    background-color: white;
    overflow-y: scroll;
    height: 100px;
    width: auto;
}

#input{
    height: 50px;
    width: auto;
}

#submit{
    height: 30px;
    width: 60px;
    background-color: #959595;
}

#mes_left{
    float: left;
    border: 2px aqua;
    max-width: 490px;
}
#mes_right{
    float: right;
    border: 2px aqua;
    max-width: 490px;