body{
    background-image:url(../images/Maldives_for_phone.jpg);
    background-color: #5bc0de;
    background-size: cover;
    background-repeat: no-repeat;
}

.container{
    padding: 0px 0px 0px 0px;
    filter: alpha(opacity=90);
    -moz-opacity: 0.9;
    opacity: 0.9;
}
#username{
    background-color: rgb(40, 40, 40);
    height: 50px;
    border-radius:10px 10px 0 0;
    line-height: 50px;
    text-align:center;
    color: white;
}
#one,#two{
    width: 50%;
    height: 200px;
    float: left;
}
#hyList{
    height: 150px;
    overflow-y: scroll;
    background: white;
    float: bottom;
}
#xtList{
    height: 150px;
    overflow-y: scroll;
    background: white;
}
#hy{
    height: 25px;
    width: auto;
}
#xt{
    height: 25px;
    width: auto;
}
.list{
    background-color: #959595;
    padding: 1px 0px 0px 0px;
    border-radius:0 0 10px 10px;
}
#content{
    background-color: white;
    overflow-y: scroll;
    height: 350px;
    width: auto;
}

#input{
    border-top: 1px solid #959595;
    height: 49px;
    width: auto;
    border-radius:0 0 10px 10px;
    background-color: white;
}

#submit{
    height: 30px;
    width: 60px;
    background-color: #959595;
    float: right;
}

#mes_left{
    float: left;
    border: 2px aqua;
    max-width: 490px;
}
#mes_right {
    float: right;
    border: 2px aqua;
    max-width: 490px;
}